{% extends 'layouts/main.html' %}

{% load static %}

{% block header %}
    <header class="home-header parallaxie" style="background-image: url({% static 'images/header-bg.jpg' %})">
    <div class="shader"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col text-right">
                    <h4 style="color: #46ffcc;">General Sequence Check</h4>
                    <p>Check for Down Syndrome, Edwards Syndrome, Sex, Large Deletions.<br/>
                    CNV call on Ploidy and Long Structural Variants.</p>
                    <h4 style="color: #46ffcc;">Embryo Biopsy Only</h4>
                    <p>Day 5 embryo biopsy, sequenced at GP or in-lab.<br/>
No karyomap of parents necessary.<br/>We charge $50 / kit to Clinic.<br/>
Clinic typically charges $2000 to clients<br/>for batches of ~10.</p>
                </div>
                <div class="col text-center">
                    <img src="{% static 'images/big-logo.png' %}" style="width: 100%;" alt="" />
                </div>
                <div class="col">
                    <h4 style="color: #ffd600;">General Mapping of the Human Genome.</h4>
                    <p>23andme style genotyping of 200ng adult sample.
Saliva from baby or adult.
</p>
                    <h4 style="color: #ffd600;">Expanded Karyomap</h4>
                    <p>903k SNP chip assay
Comprehensive Mendelian/QT screen,
panel imputation, familial karyomapping.
$200 / saliva sample.</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

    <section style="margin: 30px 0;">
        <div class="container">
            <h1 class="text-center">Welcome to Genomic Prediction!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu tortor ut ipsum fringilla
                placerat.
                Ut aliquam velit quis libero condimentum, quis commodo risus tincidunt. Donec placerat mauris dolor,
                eget
                commodo magna finibus id. Nam suscipit nunc ornare metus dignissim, vitae consectetur sapien luctus. Sed
                ornare venenatis scelerisque. Donec eu ante mauris. Aenean et condimentum massa, vitae luctus magna.
                Duis
                viverra arcu vel quam rutrum faucibus. Quisque ex magna, faucibus vel metus quis, mollis fringilla
                nulla.
                Duis rutrum diam eget tortor posuere malesuada.</p>
            <p>Etiam iaculis malesuada dapibus. Proin accumsan eleifend est vitae ullamcorper. Pellentesque ut velit
                vitae
                ex consectetur viverra a at turpis. Aliquam maximus porttitor felis ut hendrerit. Donec et aliquam enim.
                Pellentesque porta augue ac ullamcorper pharetra. Maecenas ut dignissim urna. In eu diam maximus,
                malesuada
                odio eu, vulputate ipsum.</p>
            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam dui velit,
                vehicula a sollicitudin at, pellentesque a mi. Curabitur et rhoncus justo, mollis finibus elit. Donec
                vestibulum eu purus quis sodales. Sed in metus fermentum, luctus orci sit amet, interdum urna. Donec vel
                ultrices odio. Aliquam lobortis in diam in tristique. Suspendisse justo neque, interdum sit amet varius
                dignissim, malesuada eu orci. Morbi gravida vel mauris eu placerat. Cras vulputate ex sit amet felis
                mollis
                imperdiet id at sapien. Curabitur facilisis finibus dui. Curabitur lobortis dolor in aliquam porta.</p>
            <p>Donec dapibus enim vel augue accumsan, a pretium leo ornare. Class aptent taciti sociosqu ad litora
                torquent
                per conubia nostra, per inceptos himenaeos. Proin aliquam ornare pulvinar. Duis sed turpis egestas ante
                fringilla tincidunt. In auctor et arcu sed semper. Nam vel orci volutpat, elementum lectus et, tincidunt
                tortor. Nulla cursus dui magna, at dignissim nunc scelerisque sit amet. Orci varius natoque penatibus et
                magnis dis parturient montes, nascetur ridiculus mus. Aenean purus leo, lobortis ut metus a, pharetra
                aliquet mauris. Etiam a lorem lobortis, consectetur odio eget, commodo nisl. Aliquam elementum, neque at
                commodo molestie, metus urna efficitur orci, non tincidunt tortor ex eu urna. Fusce elementum hendrerit
                turpis vel hendrerit. Aliquam sodales metus nisi, ut euismod nunc varius vel. Fusce condimentum dui quis
                elit vestibulum, quis accumsan eros finibus. Quisque in nunc sed magna placerat posuere non nec sem.
                Aliquam
                at elit quis diam varius interdum.</p>
            <p>Vivamus at est vehicula, aliquet tortor et, scelerisque purus. Proin dapibus odio eget orci rhoncus
                vestibulum. Fusce posuere ligula et eros condimentum vestibulum. Donec eu sagittis turpis. Phasellus
                vitae
                tristique risus, vitae egestas libero. Nam at nisl lectus. Donec sed venenatis enim, et luctus lacus.
                Donec
                commodo efficitur odio, vel vestibulum nisl accumsan vel.</p>
        </div>
    </section>
    <section>

    </section>
{% endblock %}

{% block footer_scripts %}

{% endblock %}