{% load static %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Genomic Prediction</title>
    {% compress css %}
        <link href="{% static 'scss/main.scss' %}" rel="stylesheet" type="text/x-scss"/>
    {% endcompress %}
</head>
<body>

<nav id="header-nav">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a href="{% url 'home' %}" class="brand"><img src="{% static 'images/logo.png' %}" height="80" /></a>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-auto">
                        <ul class="main-menu">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Videos</a></li>
                            <li><a href="#">Documents</a></li>
                            <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign In</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="main-menu">
                            <li class="has-sub-menu">
                                <a href="#">Services <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-star-o" aria-hidden="true" style="color: #33d69e"></i>
                                            gSEQ<br/>
                                            <span class="sub-menu-desc">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-heart-o" aria-hidden="true" style="color: #eeae00"></i>
                                            gMAP<br/>
                                            <span class="sub-menu-desc">Pellentesque eu tortor ut ipsum fringilla placerat.</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-auto">
                        <form class="search">
                            <input type="text" name="search" placeholder="Search..." class="search-field" />
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block header %}{% endblock %}

<div class="wrap">
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="container">
        <p class="text-center">&copy; Genomic Prediction, 2017</p>
        <ul class="footer-main-menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Documents</a></li>
            <li><a href="#">Sign In</a></li>
        </ul>

        <ul class="footer-main-menu">
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</footer>

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'parallaxie/parallaxie.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block footer_scripts %}{% endblock %}

</body>
</html>