@import "variables.scss";
@import "../bower_components/bootstrap/scss/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome.css";

html, body{
  height: 100%;
}

body{

}

.wrap{
  min-height: 100%;
}

#header-nav{
  position: absolute;
  background: rgba(0,0,0,0.04);
  padding: 20px 0;
  left: 0; right: 0; top: 0;
  z-index: 999;
}

.main-menu{
  list-style: none;
  padding: 0;
  margin-top: -4px;

  li{
    display: inline-block;

    a{
      display: block;
      color: #fff;
      padding: 6px 8px;

      &:hover{
        opacity: 0.6;
        text-decoration: none;
      }
    }

    &.has-sub-menu{
      position: relative;

      &:hover{
        ul{
          opacity: 1;
          visibility: visible;
        }
      }

      ul{
        opacity: 0;
        visibility: hidden;
        list-style: none;
        background: #fff;
        position: absolute;
        top: 32px;
        width: 240px;
        padding: 12px 0;

        &:after{
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 0 9px 9px;
          border-color: #FFFFFF transparent;
          display: block;
          width: 0;
          z-index: 1;
          top: -9px;
          left: 19px;
        }

        li{
          display: block;

          a{
            display: block;
            padding: 12px 12px 12px 54px;
            position: relative;
            color: #555;
            line-height: 0.8rem;
            text-decoration: none !important;

            i{
              position: absolute;
              display: block;
              left: 12px;
              font-size: 30px;
              line-height: 30px;
              height: 30px;
              top: 50%;
              margin-top: -15px;
            }

            span{
              display: block;
              font-size: 0.7rem;
              padding-top: 8px;
            }
          }
        }
      }
    }
  }
}

footer{
  padding: 20px 0;
  background: #000000;
}

.home-header{
  background-size: cover;
  height: 100%;
  position: relative;

  .shader{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.22);
  }

  .container, .row{
    height: 100%;
    color: #fff;
  }
}

.search{
  position: relative;

  .search-field{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 99px;
    padding: 2px 12px;
    outline: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;

    &::-webkit-input-placeholder {color:#fff;}
    &::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
    &:-moz-placeholder           {color:#fff;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:#fff;}

    &:focus, &.dirty{
      background: #fff;
      width: 240px;

      +button{
        color: #000;
      }
    }
  }

  button{
    background: transparent;
    border: none;
    position: absolute;
    right: 4px; top: 0;
    font-size: 14px;
    line-height: 23px;
    color: #fff;
  }
}


footer{
  a, p{
    color: #f4f4f4;
    padding: 0 12px;
  }

  a:hover{
    color: #777;
    text-decoration: none;
  }
}

.footer-main-menu{
  list-style: none;
  padding: 0;
  text-align: center;

  li{
    display: inline-block;
  }
}

.footer-social-menu{
  list-style: none;
  padding: 0;
  text-align: center;

  li{
    display: inline-block;
  }
}

